/* variables */

:root {
  --primary: #0f427d;
  --secondary: #ebf3fc;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: "Roboto Slab Medium";
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #ffffff;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  color: #0e1d70;
}

/* fonts */

@font-face {
  font-family: "Roboto Slab Medium";
  src: url("./assets/fonts/RobotoSlab-Medium.ttf");
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  font-weight: normal;
}

p,
a,
li {
  color: var(--primary);
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.projects a {
  text-align: center;
}

/* ---mobile styles--- */

/* small tablet styles */

@media screen and (min-width: 620px) {
}

/* large tablets & laptops */

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* desktop styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
